<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a (click)="scrollTo('features')" id="homeIcon" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="margin-right: 10px;">
        <i class="fa-solid fa-house"></i>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a (click)="scrollTo('features')" class="nav-link px-2 text-white">Features</a></li>
        <li><a (click)="scrollTo('about')" class="nav-link px-2 text-white">About</a></li>
        <li><a (click)="scrollTo('contact')" class="nav-link px-2 text-white">Contact</a></li>
        <li><a (click)="scrollTo('reviews')" class="nav-link px-2 text-white">Reviews</a></li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" [routerLink]="['/home/login']">Login</button>
        <button type="button" class="btn btn-warning" [routerLink]="['/home/register']">Sign-up</button>
      </div>
    </div>
  </div>
</header>
