.container {
    padding: 20px;
  }
  
  .card {
    width: 100%;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input, textarea {
    padding: 10px;
    border: 2px solid #c449ed;
    border-radius: 10px;
    font-size: 16px;
    background: none;
    width: 100%;
    box-sizing: border-box;
  }
  
  textarea {
    resize: none;
  }
  
  input:focus, textarea:focus {
    outline: none;
    border-bottom-color: #ff9900;
  }
  
  button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgb(242, 199, 28);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #ff9900;
  }
  
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #carouselExample {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
  }
  
  .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .carousel-indicators li {
    background-color: #333;
  }
  
  .footer-company {
    border-bottom: 2px solid whitesmoke;
    width: 700px;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    margin-left: 22%;
  }
  
  .footer-company p {
    margin: 0;
    color: rgba(245, 245, 245, 0.651)
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  }
  