<div class="register-container">
    <div class="wrapper">
        <form action="" (ngSubmit)="Register()">
            <h1>Register</h1>
            <div class="input-box">
                <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="email" [(ngModel)]="email" name="email" placeholder="Email Address" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="input-box">
                <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input type="password" [(ngModel)]="confirmpassword" name="confirmPassword" placeholder="Confirm Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="role-select-box">
                <select [(ngModel)]="role" name="role" required>
                    <option value="" disabled selected>Choose Role</option>
                    <option value="customer">Customer</option>
                    <option value="provider">Provider</option>
                    <!-- <option value="admin">Admin</option> -->
                </select>
                <i class='bx bxs-user'></i>
            </div>            
            <button type="submit" class="btn">Register</button>
            <div class="register-link">
                <p>Already have an account? <a [routerLink]="['/home/login']">Login</a></p>
            </div>
        </form>
    </div>
</div>