<div class="container mt-4">
  <div>
    <h1>My Services</h1>
    <div class="filterDiv mb-4" style="width: 200px;">
      <label id="filterLabel" for="categoryFilter" class="form-label">Filter by Category:</label>
      <select id="categoryFilter" class="form-select" (change)="onCategoryChange($event)">
        <option value="">All Categories</option>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let item of filteredServices">
      <div class="card mb-4" style="min-height: 200px;">
        <div class="card-body" style="overflow: hidden;">
          <h5 class="card-title">Provider: {{item.providerName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Experience: {{item.experience}} years</h6>
          <p class="card-text" style="min-height: 120px; max-height: 120px; overflow: auto;">
            <strong>Category:</strong> {{item.category}} <br>
            <strong>Service:</strong> {{item.serviceName}} <br>
            <strong>Price:</strong> ${{item.price}} <br>
            <strong>Description:</strong> {{item.description}}<br>
            <strong>location:</strong> {{item.location}}
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <small id="footerText" class="text-muted">Contact: {{item.providerEmail}}</small>
          <div>
            <button class="btn btn-warning btn-sm me-2" (click)="togglePopUp()">Update</button>
            <button (click)="onDelete(item.serviceId)" class="btn btn-danger btn-sm">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------------------------------popupform------------------------------------------------------------ -->

<div class="popup-container" *ngIf="showPopUp">
  <div class="popup-content">
    <span class="close-btn" (click)="togglePopUp()"><i class="fa-solid fa-xmark closebtn"></i></span>
    <h2 class="text-center mb-4">Update</h2>
    <form [formGroup]="updateForm">
      
      <div class="form-group">
        <label for="providerName">Provider</label>
        <input type="text" name="providerName" class="form-control" id="providerName" placeholder="Enter provider name" formControlName="providerName" required>
      </div>
      
      <div class="form-group">
        <label for="experience">Experience</label>
        <input type="number" name="experience" class="form-control" id="experience" placeholder="Enter years of experience" formControlName="experience" required>
      </div>
      
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" name="category" class="form-control" id="category" placeholder="Enter service category" formControlName="category" required>
      </div>
      
      <div class="form-group">
        <label for="serviceName">Service</label>
        <input type="text" name="serviceName" class="form-control" id="serviceName" placeholder="Enter service name" formControlName="serviceName" required>
      </div>
      
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" name="price" class="form-control" id="price" placeholder="Enter price" formControlName="price" required>
      </div>
      
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" name="location" class="form-control" id="location" placeholder="Enter location" formControlName="location" required>
      </div>
      

      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" id="description" placeholder="Enter service description" formControlName="description" rows="3" required></textarea>
      </div>
      
      

      <button class="btn btn-primary btn-block" style="margin-top:15px;" (click)="togglePopUp()">Submit</button>
    </form>
  </div>
</div>
