<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <!-- Table -->
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="table-header">
              <tr>
                <th>Service</th>
                <th>Price</th>
                <th>Description</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allServices">
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td>{{item.location}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>