.left
{
    height: 100vh;
    width: 20%;
    background-color: red;
}

.right{
    position: absolute;
    top: 0px;
    right:0px;
    height: 100vh;
    background-color: blue;
    width: 80%;
}

#signoutButton{
    cursor: pointer;
}

  .nav-link:hover {
    background-color: #495057; /* Slightly lighter dark color */
    border-radius: 8px;
  }

  .nav-link {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }