<div class="left">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="height:100%;width: 100%;">
    <a [routerLink]="['/my-services']" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <i class="fa-solid fa-bars" style="margin-left: 17px;margin-top: 2px;"></i>
      <span class="fs-4" style="margin-left: 5px;">Menu</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        
        <a [routerLink]="['/provider']" class="nav-link text-white" style="transition: background-color 0.3s;">
          <i class="fa-solid fa-border-all" style="margin-left: 3px;margin-right: 6px;"></i> All services
        </a>
      </li>
      <li>
        <a [routerLink]="['/provider/myservice']" class="nav-link text-white" style="transition: background-color 0.3s;">
          <i class="fa-regular fa-user" style="margin-left: 3px;margin-right: 6px;"></i> My Services
        </a>
      </li>
      <li>
        <a [routerLink]="['/provider/addservice']" class="nav-link text-white" style="transition: background-color 0.3s;">
          <i class="fa-solid fa-plus" style="margin-left: 3px;margin-right: 6px;"></i> Add Service
        </a>
      </li>
      <li>
        <a [routerLink]="['/my-services']" class="nav-link text-white" style="transition: background-color 0.3s;">
          <i class="fa-solid fa-book" style="margin-left: 3px;margin-right: 6px;"></i> Booked service
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://cdn.vectorstock.com/i/500p/53/42/user-member-avatar-face-profile-icon-vector-22965342.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>Profile</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" >{{userLoggedIn}}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="callSignOut()" id="signoutButton">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="right">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
